@(users: Seq[String], currentLoggedInUser: String)(implicit request: RequestHeader, flash: Flash)


@main("Login") {
  <h2>Login w/ GET</h2>
  <form method="GET" action="validateLoginGet">
    @helper.CSRF.formField
    Username: <input name="username"/>
    Password: <input type="password" name="password"/>

    <button>Submit</button>
  </form>

  <h2>Login w/ POST</h2>
  <form method="POST" action="validatePost">
    @helper.CSRF.formField
    Username: <input name="username"/>
    Password: <input type="password" name="password"/>

    <button>Submit</button>
  </form>

  <h2>Create User</h2>
  <form method="POST" action="createUser">
    @helper.CSRF.formField
    Username: <input name="username"/>
    Password: <input type="password" name="password"/>

    <button>Submit</button>
  </form>


  <h2>Admin login:</h2>
  <h3>Currently Logged in as: @currentLoggedInUser</h3>


  <h2>Impersonate:</h2>
  <ul>
    @for(username <- users) {
      <a href="/loginAs/@username"><li>@username</li></a>
    }
  </ul>
}
